# Copia este archivo a .env y ajusta los valores

# En tu PC (desarrollo): IP del servidor que monitorizas
# En el servidor (producción): 127.0.0.1
SSH_HOST=127.0.0.1
SSH_PORT=22
SSH_USER=nacho
SSH_PASSWORD=tu_password_aqui

# Puerto donde escucha la app
PORT=3001

# 0.0.0.0 para que sea accesible desde la VPN
HOST=0.0.0.0
